
.header{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.header .logo{
    margin-left: 50px;
    font-size: 25px;
    font-weight: 800;
    color: #f0f0f0;
}

.header .menu {
    display: flex;
    margin-left: 40px;
    margin-right: 18px;
    letter-spacing: 0.5px;
}

.header .menu .menu-item {
    margin-left: 20px;
    font-size: 18px;
    color: #f0f0f0;
    font-weight: lighter;
    margin-right: 8px;
    cursor: pointer;
    text-decoration: none;
}

.header .menu .menu-item:hover{
    color: #ffcc00;
}




